body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25pt;
    font-family: neonderthaw;
    color: white;
    
    
}

#wrap {
    width: 100%;
    margin: auto;
    background-color: #6B85CC;
}
p {
    text-align: justify;
    font-size: 15pt;
    margin: 5pt;
    margin-left: 80pt;
    margin-right: 80pt;
    color: white;
    
}

header img{
    width: 100%;
}

header {
    padding 35px;
    font-size: 1pt;
    color: white;
  
}
nav {
    background-color: black;
    padding: 3px;
    text-align: center;
    color:white;
}

nav a {
    font-family: neonderthaw;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 75%;
    color: white;
}

nav ul{
    margin: 8px;
    padding: 0px;

}

nav a:hover {
    background-color: ;
    color: plum;
}

nav li {
    display: inline;
    
}

nav ul{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 8px;

}

footer{
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
    font-family: neonderthaw;
}

.button {
    font-family: neonderthaw;
    color: white;
    margin: auto;
    
}
